<%- include("header")%>
<div class="box" id="heading">
  <h1>Bill Splitting</h1>
</div>
<div class="box">
  <form action="/" method="get">
    <button type="submit">Home</button>
  </form>
  <form action="/bill-splitting" method="get">
    <label>Select Category:</label>
    <select name="category" onchange="this.form.submit()">
      <option value="">Select Category</option>
      <%categories.forEach(function(category){%>
        <option value="<%=category.name%>" <%=selectedCategory === category.name ? "selected":""%>><%=category.name%></option>
      <%})%>
    </select>
  </form>
  <%if(selectedCategory){%>
    <form action="/bill-splitting" method="get">
      <input type="hidden" name="category" value="<%=selectedCategory%>">
      <label>Select Expense:</label>
      <select name="expenseId" onchange="this.form.submit()">
        <option value="">Select Expense</option>
        <%expenses.forEach(function(expense){%>
          <option value="<%=expense._id%>" <%=selectedExpense && selectedExpense._id.toString() === expense._id.toString() ? "selected":""%>><%=expense.expenseName%> - $<%=expense.amount ? expense.amount.toFixed(2):"0.00"%></option>
        <%})%>
      </select>
    </form>
  <%}%>
  <%if(selectedExpense){%>
    <div>
      <h2><%=selectedExpense.expenseName%> - $<%=selectedExpense.amount.toFixed(2)%></h2>
      <form action="/add-user" method="post">
        <input type="hidden" name="expenseId" value="<%=selectedExpense._id%>">
        <input type="hidden" name="category" value="<%=selectedCategory%>">
        <input type="text" name="userName" placeholder="User Name" autocomplete="off">
        <input type="number" name="amount" placeholder="Amount" autocomplete="off">
        <button type="submit">Add User</button>
      </form>
      <ul>
        <%users.forEach(function(user){%>
          <li>
            <span><%=user.name%>: $<%=user.expenses.find(exp => exp._id.toString() === selectedExpense._id.toString()).amount.toFixed(2)%></span>
          </li>
        <%})%>
      </ul>
    </div>
  <%}%>
</div>
<%- include("footer")%>
